.contact-card {
  display: flex;
  gap: 1em;
  padding: 1em;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.details-container {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.name {
  font-size: 20px;
}

.details-container p {
  font-size: 14px;
}